In [79]:
#data preparation
import pandas as pd

df = pd.read_csv('Students Performance.csv')

df

    gender parental level of education test preparation course  nilai
0     male                some college                    none     43
1     male            some high school               completed     77
2     male                some college               completed     83
3     male             bachelor degree               completed     83
4   female             bachelor degree                    none     73
..     ...                         ...                     ...    ...
95    male                 high school                    none     30
96  female                 high school                    none     62
97    male                 high school                    none     71
98    male            associate degree                    none     66
99    male                some college               completed     85

[100 rows x 4 columns]



---



---

<h2>Soal 1: Indexing</h2>

1. Lakukan indexing terhadap dataframe untuk mengakses column 'gender' dan 'parental level of education' saja
2. Lakukan indexing terhadap dataframe untuk mengakses row 10 sampai 20 beserta column 'test preparation course' dan 'nilai'

In [80]:
#code here
df_soal1_a = df.iloc[:,[0,1,]]
print(df_soal1_a)
df_soal2_a = df.iloc[10:21,[2,3]]
print(df_soal2_a)

    gender parental level of education
0     male                some college
1     male            some high school
2     male                some college
3     male             bachelor degree
4   female             bachelor degree
..     ...                         ...
95    male                 high school
96  female                 high school
97    male                 high school
98    male            associate degree
99    male                some college

[100 rows x 2 columns]
   test preparation course  nilai
10                    none     68
11               completed     63
12                    none     64
13                    none     47
14                    none     77
15               completed     52
16               completed     34
17                    none     29
18                    none     40
19                    none     75
20                    none     80

Expected output :

poin a:

![alt text](https://drive.google.com/uc?id=10IktjvsNtqzhq7H7vrP7wvQTVx5EWJjA)


poin b:

![alt text](https://drive.google.com/uc?id=1Dc2OdbTATwZRsPC24rSH3citYmfyrVHv)



---



---

<h2>Soal 2: Filter DataFrame Dengan Boolean</h2>

1. Tampilkan semua data siswa yang level pendidikan orang tuanya 'high school' dan 'bachelor degree'
2. Tampilkan semua data siswa yang mempunyai nilai lebih dari 50 dengan test preparation course 'completed'
3. Tampilkan semua data siswa yang mempunyai nilai lebih dari 70, berjenis kelamin perempuan dengan test preparation course 'completed'

In [81]:
#code here
df_soal2_a = df['parental level of education'] == 'bachelor degree' 
df2_soal2_a = df['parental level of education'] == 'high school'
print(df[(df_soal2_a) | (df2_soal2_a)])

    gender parental level of education test preparation course  nilai
3     male             bachelor degree               completed     83
4   female             bachelor degree                    none     73
7   female             bachelor degree                    none     71
8   female             bachelor degree                    none     67
15  female                 high school               completed     52
16  female                 high school               completed     34
17  female                 high school                    none     29
19  female                 high school                    none     75
23    male                 high school                    none     78
24    male                 high school                    none     71
27  female                 high school               completed     77
28    male                 high school               completed     67
29    male                 high school                    none     87
31    male             bachelor degree                    none     60
34  female             bachelor degree                    none     56
37  female             bachelor degree               completed     77
39  female             bachelor degree               completed     97
41    male                 high school                    none     57
43    male                 high school                    none     62
51  female                 high school                    none     71
52  female                 high school                    none     65
60  female             bachelor degree                    none     85
61    male             bachelor degree                    none     64
63    male             bachelor degree                    none     68
67    male                 high school                    none     79
70    male                 high school                    none     52
73  female                 high school                    none     82
74    male                 high school               completed     70
76    male                 high school                    none     68
80    male                 high school                    none     69
95    male                 high school                    none     30
96  female                 high school                    none     62
97    male                 high school                    none     71

In [82]:
df_soal2_b = df['nilai'] > 50
df2_soal2_b = df['test preparation course'] == 'completed'
print(df[(df_soal2_b) & (df2_soal2_b)])

    gender parental level of education test preparation course  nilai
1     male            some high school               completed     77
2     male                some college               completed     83
3     male             bachelor degree               completed     83
5   female               master degree               completed     71
6   female                some college               completed     78
11  female            some high school               completed     63
15  female                 high school               completed     52
27  female                 high school               completed     77
28    male                 high school               completed     67
35    male                some college               completed     94
37  female             bachelor degree               completed     77
39  female             bachelor degree               completed     97
42    male            associate degree               completed     65
46  female                some college               completed     71
49    male            some high school               completed     80
53    male            associate degree               completed     68
55  female            associate degree               completed     76
58  female               master degree               completed     89
62    male            some high school               completed     69
64  female                some college               completed     74
72  female            associate degree               completed     68
74    male                 high school               completed     70
75  female                some college               completed     91
79    male                some college               completed     67
86  female            some high school               completed     66
93    male            associate degree               completed     76
94  female                some college               completed     78
99    male                some college               completed     85

In [83]:
df_soal2_c = df['gender'] == 'female'
df1_soal2_c = df['nilai'] > 70
df2_soal2_b = df['test preparation course'] == 'completed'
print(df[(df_soal2_c) & (df1_soal2_c) & (df2_soal2_b)])

    gender parental level of education test preparation course  nilai
5   female               master degree               completed     71
6   female                some college               completed     78
27  female                 high school               completed     77
37  female             bachelor degree               completed     77
39  female             bachelor degree               completed     97
46  female                some college               completed     71
55  female            associate degree               completed     76
58  female               master degree               completed     89
64  female                some college               completed     74
75  female                some college               completed     91
94  female                some college               completed     78

Expected output: 

poin a:(tampilan hanya sebagian)

![alt text](https://drive.google.com/uc?id=1UiNs119fMKgPVa1SiIZxojC5iOkW2Ub1)


poin b: (tampilan hanya sebagian)

![alt text](https://drive.google.com/uc?id=13fc9IaUbwfzLiNgX6jEoLLuUjYli_YJq)

poin c:

![alt text](https://drive.google.com/uc?id=1SYby1GosYEyMQ26KdGOzvL48cKXpikp1)



---



---

<h2>Soal 3: Data Transformation</h2>

lakukan data transformasi terhadap column 'nilai' dengan fungsi transformasi, berikut rumus dari normalisasi

![alt text](https://drive.google.com/uc?id=1wed-EbRSTA0JP1ceDp6lcKBqH2yJ4aa3)

In [94]:
def normalized(x):
    minus_minimum = x - x.min()
    max_min = x.max() - x.min()
    return minus_minimum / max_min

In [98]:
df['nilai'] = df['nilai'].astype(int)
df['nilai']

0     43
1     77
2     83
3     83
4     73
      ..
95    30
96    62
97    71
98    66
99    85
Name: nilai, Length: 100, dtype: int32

In [105]:
#code here
print(df['nilai'])
print('\n')
# df_normalized
print(df[['nilai']].apply(normalized).head(51))

0     43
1     77
2     83
3     83
4     73
      ..
95    30
96    62
97    71
98    66
99    85
Name: nilai, Length: 100, dtype: int32


       nilai
0   0.205882
1   0.705882
2   0.794118
3   0.794118
4   0.647059
5   0.617647
6   0.720588
7   0.617647
8   0.558824
9   0.735294
10  0.573529
11  0.500000
12  0.514706
13  0.264706
14  0.705882
15  0.338235
16  0.073529
17  0.000000
18  0.161765
19  0.676471
20  0.750000
21  0.441176
22  0.544118
23  0.720588
24  0.617647
25  0.147059
26  0.602941
27  0.705882
28  0.558824
29  0.852941
30  0.573529
31  0.455882
32  0.661765
33  0.558824
34  0.397059
35  0.955882
36  0.338235
37  0.705882
38  0.367647
39  1.000000
40  0.838235
41  0.411765
42  0.529412
43  0.485294
44  0.470588
45  0.514706
46  0.617647
47  0.823529
48  0.455882
49  0.750000
50  0.661765



---



---